@tailwind components;
@tailwind utilities;

* {
    font-family: "Almarai"!important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
     transition: background-color 50000s ease-in-out 0s !important;
  }

.inherit-input-bg > input{
    background-color: inherit;
}